<div class="row">
  <div class="col">
    <div class="card">
      <span class="title">Where are you from</span>
      <div class="options">
        <label for="001">
          <div class="option">
            <input type="radio" name="answer" id="001" />
            <span>Andijon</span>
          </div>
        </label>
        <label for="002">
            <div class="option">
              <input type="radio" name="answer" id="002" />
              <span>Andijon</span>
            </div>
          </label>
          <label for="003">
            <div class="option">
              <input type="radio" name="answer" id="003" />
              <span>Andijon</span>
            </div>
          </label>
      </div>
    </div>
  </div>
</div>
