{% extends './base.html' %} {% block content %}
<div class="container">
  <div class="quiz-box">
    <div class="quiz-title">
      <span class="marked">{{ exam.name }}</span>
    </div>
    <div class="content">
      <div class="answers">
        {% for question in exam.questions.all %}
        <a href="{% url 'admin:main_question_change' question.id %}">
          <div class="option">{{ question.text|truncatechars:"20" }}</div>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content%}
