{% extends './base.html' %} {% block content %}
<div class="container">
  <div class="quiz-box">
    <div class="quiz-title">
      <span class="marked">{{ question_group.name }}</span>
    </div>
    <div class="content">
      <details>
        <summary>Questions</summary>
        <div class="answers" style="margin-bottom: 15px">
          {% for question in question_group.questions.all %}
          <a href="{% url 'admin:main_question_change' question.id %}">
            <div class="option">{{forloop.counter}}. {{ question.text|truncatechars:"20" }}</div>
          </a>
          {% endfor %}
        </div>
      </details>
      <hr />
      <form class="form" method="post" style="margin-top: 12px">
        {% csrf_token %}
        <label class=""
          >Create <span class="marked">question</span> to
          <span class="marked">{{ question_group.name }}</span></label
        >

        <hr />
        <div class="field mt-1">
          <textarea
            type="text"
            placeholder="Question"
            name="question_text"
            class="option"
            style="font-size: 18px"
            rows="5"
            ></textarea>
        </div>
        <div class="options">
          <div class="option _">
            <div>
              <input type="radio" name="answer" />
            </div>
            <div>
              <input
                type="text"
                name="option1"
                data-sent="false"
                placeholder="option 1"
              />
            </div>
          </div>
          <div class="option _" style="margin-top: 5px">
            <div>
              <input type="radio" name="answer" />
            </div>
            <div>
              <input
                type="text"
                name="option2"
                data-sent="false"
                placeholder="option 2"
              />
            </div>
          </div>
          <div class="option _" style="margin-top: 5px">
            <div>
              <input type="radio" name="answer" />
            </div>
            <div>
              <input
                type="text"
                name="option3"
                data-sent="false"
                placeholder="option 3"
              />
            </div>
          </div>
          <div class="option _" style="margin-top: 5px">
            <div>
              <input type="radio" name="answer" />
            </div>
            <div>
              <input
                type="text"
                name="option4"
                data-sent="false"
                placeholder="option 4"
              />
            </div>
          </div>
        </div>
        <div class="field mt-1">
          <button class="button" type="submit" id="submit">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  var csrf_token = document.querySelector("[name='csrfmiddlewaretoken']").value,
    form = document.querySelector("form"),
    URL = location.pathname;

  const default_headers = {
    Accept: "application/json",
    "Content-Type": "application/json",
    "X-Requested-With": "XMLHttpRequest",
    "X-CSRFToken": csrf_token,
  };
  var options = document.querySelectorAll(".option._");
  var question = document.querySelector("[name='question_text']");
  form.onsubmit = function (e) {
    e.preventDefault();
    var data_options = [];
    options.forEach((option) => {
      var opt = option.querySelector("[type='text']").value;
      var ans = option.querySelector("[type='radio']").checked;
      data_options.push({
        name: opt,
        checked: ans,
      });
    });
    var allCheckedFalse = data_options.every(
      (obj) => obj.checked === false && obj.name !== ""
    );
    if (allCheckedFalse || question.value == "") {
      alert("Data is not fully completed!");
      return;
    }
    var data = {
      data: {
        name: question.value,
        options: data_options,
      },
    };
    fetch(URL, {
      method: "POST",
      headers: default_headers,
      body: JSON.stringify(data),
    })
      .then((res) => res.json())
      .then((res) => {
        var $question = res.question;
        var option = document.createElement("option");
        option.innerText = $question.name;
        option.className = "option";
        document.querySelector(".answers").appendChild(option);
        question.value = "";
        options.forEach(
          (opt) => (
            (opt.querySelector("[type='text']").value = ""),
            (opt.querySelector("[type='radio']").checked = false)
          )
        );
        question.focus();
      });
    console.log(data);
  };
</script>
{% endblock content %}
