{% extends './base.html' %} {% block content %}

<div class="container">
  <div class="quiz-box">
    <div class="quiz-title">
      <span class="marked">{{ user.user.first_name}}</span>
    </div>
    <div class="content">
      <p>Fakultet: <span class="marked">{{ user.faculty }}</span></p>
      <p>
        Imtixon: {% if user.exam %}
        <a href="{% url 'settings:exam' user.exam.id %}" class="marked"
          >{{ user.exam.name }}</a
        >
        {% else %} Yo'q {% endif%}
      </p>
      <p>Natija: {{ result.score }}</p>
      <p>
        Tuman (shaxar) va maktab:
        <span class="marked">{{ user.city_and_school }}</span>
      </p>
      <p>
        Sertifikat:
        <a href="/main/certificate/{{ result.user.id }}">Sertifikat</a>
      </p>
    </div>
  </div>
</div>

{% endblock %}
