{% extends './base.html' %} {% block content %}
<div class="container">
  <div class="quiz-box">
    <div class="quiz-title">
      <span>All <span class="marked">Quiz</span> users</span>
    </div>
    <div class="content">
      <div class="answers">
        {% for user in users %}
        <a style="text-decoration: none; color: initial" class="quiz-user">
          <div class="option" data-id="{{user.id}}">
            <span>{{ user.name }}</span>
          </div>
        </a>
        {%endfor%}
      </div>
    </div>
  </div>
</div>
{%endblock%}
