{% extends './base.html' %} {% block content %}
<div class="container">
  <div class="quiz-box">
    <div class="quiz-title">
      <span>All <span class="marked">Students</span></span>
    </div>
    <div class="content">
      <div class="answers">
        {% for user in users %}
        <a
          style="text-decoration: none; color: initial"
          href="{% url 'settings:user' user.id %}"
        >
          <div class="option" data-id="{{user.id}}">
            <span>{{ user.user.first_name }}</span>
          </div>
        </a>
        {%endfor%}
      </div>
    </div>
  </div>
</div>
{%endblock%}
