@import url("default.css");

body {
  background-color: #f2f2f2;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  transition: transform 200ms linear;
}

.container.hide {
  transform: translateX(-200%);
  position: absolute;
}

.container.show {
  transform: translateX(0) !important;
  position: static;
}

form {
  max-width: 100%;
  width: 600px;
  background-color: #ffffff;
  padding: 16px;
  border-radius: 8px;
}
.row {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
.row .col {
  max-width: 100%;
  width: 600px;
  border-radius: 8px;
  padding: 5px;
}
.card {
  width: 100%;
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid rgba(24, 83, 171, 0.499);
  box-shadow: 0 0 20px 0px rgba(59, 119, 198, 0.05);
}
.card .title {
  font-size: 25px;
}

.card.error {
  border-color: rgba(255, 0, 0, 0.131) !important;
}

.card.error .options .option {
  border-color: rgba(255, 0, 0, 0.266) !important;
}

.card .options .option {
  display: flex;
  gap: 10px;
  border-radius: 40px;
  padding: 10px;
  margin-bottom: 4px;
  border: 1px solid rgba(59, 119, 198, 0.381);
  transition: 300ms;
  cursor: pointer;
}
.card .options .option:hover {
  background: rgba(59, 119, 198, 0.181);
}

.btn {
  padding: 10px 40px;
  border-radius: 30px;
  border: 1px solid #005fa3;
  background-color: #005fa3d8;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s;
}

.btn:hover {
  background-color: #005fa3;
}

.btn:focus {
  outline: 2px solid #005fa3;
  outline-offset: 2px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  background-color: #f0f0f0;
  border: none;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 16px;
  width: 100%;
  box-sizing: border-box;
}

:is(input[type="text"], input[type="email"], input[type="password"]):focus {
  outline: 1px solid #005fa3;
  outline-offset: 2px;
}
